<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ViscaCamLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add />
  </appSettings>
  <userSettings>
    <ViscaCamLink.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastUpgrade" serializeAs="String">
        <value />
      </setting>
      <setting name="MemoryContainerVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MoveContainerVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZoomContainerVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ip" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>5678</value>
      </setting>
      <setting name="PanTiltSpeed" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ZoomSpeed" serializeAs="String">
        <value>1</value>
      </setting>
    </ViscaCamLink.Properties.Settings>
  </userSettings>
</configuration>